@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Black.ttf"),
		url("../fonts/Roboto-BlackItalic.ttf");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.ttf"), url("../fonts/Roboto-BoldItalic.ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Medium.ttf"),
		url("../fonts/Roboto-MediumItalic.ttf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf"), url("../fonts/Roboto-Italic.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Light.ttf"),
		url("../fonts/Roboto-LightItalic.ttf");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Thin.ttf"), url("../fonts/Roboto-ThinItalic.ttf");
	font-weight: 100;
	font-style: normal;
}
