* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
	margin: 0;
}

p {
	margin: 0;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.logo {
	text-align: center;
}

.logo > img {
	margin: 38px 0 10px;
}

.fs {
	background-image: url(../img/bg/main_bg.png);
	color: #fff;
	min-height: 800px;
	background-repeat: no-repeat;
	background-size: cover;
}

.fs-main {
	text-align: center;
}

.logo-img-title {
	font-size: 15px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 500;
}

.title {
	margin: 21px 0;
	font-size: 41px;
	line-height: 41px;
	font-weight: 900;
	color: #f9bf3b;
	text-align: center;
}

.title-big {
	font-size: 80px;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	line-height: 80px;
	position: relative;
}

.title-big-line::after {
	content: "";
	width: 292px;
	height: 2px;
	background: #ffffff;
	position: absolute;
	transform: translate(-35%);
	left: 10%;
	bottom: 38px;
}

.title-big-line::before {
	content: "";
	width: 292px;
	height: 2px;
	background: #ffffff;
	position: absolute;
	transform: translate(35%);
	right: 10%;
	bottom: 38px;
}

.fs-main-text {
	text-align: center;
	font-size: 20px;
	line-height: 28px;
	font-weight: 300;
}

.btn-fs {
	display: inline-block;
	font-size: 21px;
	/* width: 313px;
	height: 72px; */
	color: #fff;
	cursor: pointer;
	margin: 95px auto;
	/* align-items: center; */
	/* text-align: center; */
	/* font-size: 21px; */
	/* line-height: 24px; */
	border: none;
	text-transform: uppercase;
	padding: 24px 14px;
	background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
}

.btn-fs:hover {
	background: rgb(255, 255, 255);
	color: #2798b9;
}

.fs-more {
	font-size: 15px;
	font-weight: 100;
	cursor: pointer;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	margin-bottom: 10px;
}

.fs-more-arrow {
	cursor: pointer;
	padding-bottom: 40px;
}

.text-highlighter {
	text-transform: uppercase;
	color: #f9bf3b;
	font-weight: 700;
}

/*	intensive  */

.intensive {
	background: #efefef;
}

.intensive-title,
.intensive-subtitle {
	text-align: center;
}

.intensive-title {
	position: relative;
	padding: 88px 0 44px;
	font-weight: 400;
	font-size: 30px;
	text-transform: uppercase;
	color: #252525;
}

.intensive-title-line::after {
	content: "";
	width: 220px;
	height: 7px;
	background: #f9bf3b;
	position: absolute;
	transform: translate(-50%);
	left: 50%;
	bottom: 15px;
}

.intensive-subtitle {
	padding-bottom: 44px;
	font-weight: 400;
	font-size: 23px;
	color: #252525;
}

.intensive-card {
	max-width: 370px;
	text-align: center;
}

.intensive-block-flex {
	display: flex;
	padding-bottom: 75px;
	justify-content: center;
}

.intensive-card-text {
	font-weight: 300;
	font-size: 15px;
	line-height: 21px;
}

.intensive-card-img {
	margin-bottom: 26px;
}

/* Optimization */

.optimization {
	margin-top: 47px;
	min-height: 502px;
	background-image: url(../img/bg/woman_bg.png);
	background-repeat: no-repeat;
	background-position: -16%;
}

.optimization-block {
	margin-top: 48px;
	display: flex;
	margin-left: auto;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 750px;
	height: 430px;
}

.optimization-title {
	font-weight: 900;
	font-size: 30px;
	text-transform: uppercase;
	color: #299cbd;
}

.optimization-text {
	margin-bottom: 10px;
	font-weight: 300;
	font-size: 17px;
	line-height: 27px;
}

.optimization-text-bold {
	font-weight: 700;
}

/* Finish */

.finish-learn {
	background-image: url(../img/bg/second_bg.png);
	height: 447px;
}

.finish-learn-title {
	padding: 86px 0 63px;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #efefef;
}
.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 118px;
	height: 118px;
	background: #b4e2ff;
	border-radius: 50%;
	text-align: center;
	margin-bottom: 25px;
}

/* .finish-learn-card-img {
	position: absolute;
	right: 20%;
	top: 50%;
	transform: translateY(-50%);
} */

.finish-learn-flex {
	display: flex;
	justify-content: space-between;
}

.finish-learn-card-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 230px;
	padding-bottom: 69px;
}

.finish-learn-text {
	color: #efefef;
	text-align: center;
}

/* Gift */

.gift {
	height: 631px;
	background-color: #efefef;
}

.gift-flex {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
}

.btn-gift {
	display: inline-block;
	font-size: 21px;
	color: #fff;
	cursor: pointer;
	margin: 60px auto 30px;
	border: none;
	text-transform: uppercase;
	padding: 24px 14px;
	background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
}

.btn-gift:hover {
	background: rgb(255, 255, 255);
	color: #2798b9;
}

.gift-img {
	padding: 88px 0 45px;
}

.gift-text {
	font-weight: 300;
	font-size: 30px;
	line-height: 43px;
	text-align: center;
	color: #252525;
}

/* Webinar */

.webinar {
	background-color: #fff;
	height: 512px;
}

.webinar-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.webinar-img {
	padding: 81px 0 36px;
}

.webinar-title {
	font-size: 30px;
	font-weight: 400;
	padding-bottom: 30px;
	text-transform: uppercase;
	color: #252525;
}

.webinar-subtitle {
	font-weight: 900;
	font-size: 36px;
	padding-bottom: 25px;
	text-transform: uppercase;
	color: #299cbd;
}

.webinar-text {
	font-size: 23px;
	padding-bottom: 53px;
	color: #4a4a4a;
}
